<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<form action="/form-data" method="post">
    <input 
    type="text"
    placeholder="Enter Username"
    name="username"
    >
    <input type="email"
    placeholder="Type Your Email"
    name="email"
    >
    <input type="password" 
    placeholder="Enter Password"
    name="password"
    >

    <button>
        Submit Form
    </button>
    <script src="index.js"></script>
</form>
    
</body>
</html>