*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    background: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    margin-top: 10px;
    outline: none;
    padding:10px ;
}
button{
    margin-top: 10px;
}


